td {
    border: 1px solid black;
    width: 15%;
}

ol.bracket {
    list-style-type: none;
    counter-reset: item;
}

.bracket:before {
    counter-increment: item;
    margin-left: -59px;
}

.bracket.numeric:before {
    content: counter(item) ') ';
}

.bracket.alpha:before {
    content: counter(item, lower-alpha) ') ';
}

li.linear-list {
    margin-left: -44px;
}


li > ol > li {
    font-weight: normal;
}

.text1 {
    font-style: italic;
    color: #043C6B;
    text-decoration: underline;
}

.text2 {
    font-weight: bold;
    font-size: x-large;
}

.text3 {
    font-stretch: condensed;
    font-size: large;
    color: #04ff8a;
}

.text4 {
    font-stretch: condensed;
    color: rgb(123, 222, 200);
}

.text5 {
    font-family: Impact, fantasy;
    color: #1D1AB2;
}